{% extends "base_generic.html" %}

{% block content %}
<h1>Librería Local Home</h1>

  <p>Bienvenido a <em>LocalLibrary</em>, un sitio web básico desarrollado con DJANGO.</p>

<h2>Dynamic content</h2>

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Libros:</strong> {{ num_books }}</li>
    <li><strong>Copias:</strong> {{ num_instances }}</li>
    <li><strong>Copias disponibles:</strong> {{ num_instances_available }}</li>
    <li><strong>Autores:</strong> {{ num_authors }}</li>
  </ul>
  
  <p>Has visitado esta página {{ num_visits }}{% if num_visits == 1 %} time{% else %} veces{% endif %}.</p>


{% endblock %}